* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: sans-serif;
  }

  /* start of header */
 .header {
    background-color: grey;
    color: white;
    justify-content: space-around;
    padding: 20px;
    height: 40px;
 }

  .header h1{ 
    display: inline-block;
    float: left;
    font-family: 'Edu VIC WA NT Beginner', cursive;
    font-family: 'Pacifico', cursive;
    font-size: 50px;
  }

  .header nav {
    float: right;
    font-size: 20px;
    margin-right: 20px;
    padding-top: 15px;
  }

  .header nav ul li {
    display: inline-block;
    margin-left: 25px;
    list-style-type: none;
  }