* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: sans-serif;
  }

  /* start of header */
 .header {
    background-color: grey;
    color: white;
    justify-content: space-around;
    padding: 20px;
    height: 150px;
 }

  .header h1 { 
    display: inline-block;
    font-family: 'Edu VIC WA NT Beginner', cursive;
    font-family: 'Pacifico', cursive;
    font-size: 80px;
    margin-top: 25px;
  }

  .header nav {
    float: right;
    font-size: 20px;
    margin-right: 20px;
    padding-top: 40px;
    
  }

  .header nav ul li {
    display: inline-block;
    margin-left: 25px;
    font-size: 25px;
    font-weight: bold;
    
  }