body {
  background-color: black;
  font-family: 'Edu VIC WA NT Beginner', cursive;
  font-family: 'Merriweather', serif;height: auto;
}

.header {
  display: flex;
  font-size: 1em;
  color: white;
  justify-content: space-between;
  background-color: rgb(80, 121, 223);
  min-height: 12em;
  box-shadow: 1px 10px 10px rgb(80, 121, 223);
  border-bottom: 7px solid rgb(4, 4, 4);
}


.image-me {
  height:10em;
  padding-top: 1em;
  border-radius: 40px;
  padding-left: 1em;
  filter:grayscale(50%);
}

.header h1 {
  font-size: 7em;
  color: black;
  font-family: 'Edu VIC WA NT Beginner', cursive;
  font-family: 'Kenia', cursive;
  padding-top: .8em;
  padding-right: 7em;
  text-shadow: 1px 1px 2px white;
}

.header a {
  list-style: none;
  color: black;
  text-shadow: 0px px 1px white;
  font-size: 40px;
  text-decoration: none;
}

/* header nav links */
 .nav-links  li {
  display: inline;
  list-style: none;
  font-size: 2em;
  padding: 19px;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgb(120, 118, 118);
}
 
.header-nav {
  padding-top: 5em;
  padding-right: 10px;
 }

 /* links hover state */
 .header a:hover {
  color:white;
  border-radius: 10px;
  transition: all 500ms;
 }



          /* section "about-me" */
.about-me{
  display: flex;
  min-height: 100px;
  position: relative;background-color: rgb(80, 121, 
  223);
  border-top: 2px solid black;
}


.about-me p{
  color: rgb(242, 240, 240);
  text-align: center;
  font-size: 1.5em;
  line-height:2em;
  width: 50%;
  float: right;
  padding-right: 2em;
  padding-top: 1em;
}

.div-text {
  border-right: 6px dotted rgb(9, 9, 9);
  font-size:11em;
  font-family: 'Edu VIC WA NT Beginner', cursive;
  font-family: 'Kenia', cursive;
  text-shadow: 1px 1px 2px white;
  width: 30%;
  position: absolute;
  height: 65%;
  padding-top: .9em;
  padding-left: 1em;
  padding-right: .8em;
}

           /* work section */
.work-section {
  display: flex;
  justify-content: space-between;
  background-color:  rgb(80, 121, 
  223); 
  height: 28em;
  border: 3px solid black;
  position:absolute;
  top:28.5em;
  width: 100%;
  background-color: rgb(6, 5, 5);
}

.work-text {
  color: white;
  font-family: 'Edu VIC WA NT Beginner', cursive;
  font-family: 'Kenia', cursive;
  font-size:11em;
  text-shadow: 5px 3px   2px rgb(80, 121, 
  223);
  padding-left: 1.5em;
  padding-top: 1em;
  border-right: 5px dotted white;
  height: 1.8em;
  padding-right: 2em;
}

.image-1 {
  height: 32em;
  filter: grayscale(55%);
  padding-right: 15em;
  padding-top: .5em;
}